<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-hePhcsyslS7v8oR9foHGzyDGNhhSaHc</string>
	<key>GCM_SENDER_ID</key>
	<string>557658843205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>caloriemeterai</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriemeterai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557658843205:ios:92100c9068b46c76c01b2c</string>
</dict>
</plist>